body {
    height: 26000px;
    font-family: 'Raleway', sans-serif;
}

div {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 50%;
    opacity: 0;
    font-size: 30px;
}
img {
    margin-top: -200px;
}

.ole {
    top: auto;
    bottom: 50px;
}

svg {
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    display: block;
    margin: -250px auto 0;
    overflow: auto;
}
